<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
 <!--  <h1>Hello there</h1> -->
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- jQuery library (served from Google) -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- bxSlider Javascript file -->
<!-- <script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/jquery.bxslider.js"></script> -->
<script type="text/javascript" src= "/app.js"></script>
<!-- bxSlider CSS file -->
<!-- <link href="/js/jquery.bxslider.css" rel="stylesheet" /> -->
<link rel="stylesheet" href="/main.css">
<script type="text/javascript" src= "/app.js"></script>
<link rel="stylesheet" href="/work.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">




</head>
<body>
 <div class="nav-bar">
    <div class="box menu-left"></div>
    <div class="box namebox">ANNE GANZEBOOM</div>
   <!--  <div class="box menu-right">CONTACT</div> -->
    <div class="box menu-right">
      <a href="https://github.com/annegans"><i class="fa fa-github-square "></i></a>
      <a href="https://uk.linkedin.com/in/anneganzeboom"><i class="fa fa-linkedin-square "></i></a>
      <a href="your link here"><i class="fa fa-envelope "></i></a>
    </div>
  </div>
    <div class="box10 header">
     <div class="namebox">
    
     </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 bwork">
      <div class="border">
        <div class="link">
          <a href="work" class="link">WEB PROJECTS</a>
        </div>    
      </div>
    </div>

    <div class="box box033 ">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 babout">
      <div class="border">
        <div class="link">
          <a  class="link">ABOUT</a>
        </div> 
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
   <div class="split-main"></div>

    <div class="togglebox1">
      <div class="aboutbox">
      <div class="margin-about">
        <span class="title-text" >ABOUT ME</span><div class="closeAbout close-it">ClOSE</div><br><br>
    I have always had an interest in design and development so decided to embark on a journey to immerse myself in learning as much as I can. I started off by completed a Certificate IV in Graphic Design at Shillington College and have now recently finished studying Web Development at General Assembly. I am looking to find a Junior Developer role where I can incorporate both web development and design, whilst learning from my peers.<br><br>I have worked on several projects using Javascript, JQuery, Rspec, Ruby on Rails, PostgreSQL, APIs, Node.js, Express.js, MongoDB.
        </div>
      </div>
    </div>

     <div class="togglebox3">
       <div>
          <span class="title-text">ANNE GANZEBOOM</span><div class="closeContact close-it">ClOSE</div><br><br>
          <span class="">Web Developer | Design</span><br><br>
          <span class="">github.com/annegans | www.anneg.work</span><br><br>
          <span class="">07879 720 178 | anneganzeboom@gmail.com</span><br><br>
          
      </div>
    </div>

   <div class="split-main"></div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    <div class="box box25 bcontact">
      <div class="border">
        <div class="link">
          <a  class="link">CONTACT</a>
        </div>  
      </div>
    </div>

     <div class="box box033">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 bwork2">
      <div class="border">
        <div class="link">
          <a href="designwork" class="link">DESIGN WORK</a>
        </div>
      </div>    
    </div>
     <div class="box box2">
      <div class="bordernone"></div>
    </div>

</body>
</html>