<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
 <!--  <h1>Hello there</h1> -->
 <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src= "/app.js"></script>

<link rel="stylesheet" href="/main.css">

</head>
<body>
    <div class="box10 header">
     <div class="namebox">
       <div class="name">ANNE GANZEBOOM</div>
     </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 bwork">
      <div class="border">
        <div class="link">
          <a href="work" class="link">WORK</a>
        </div>    
      </div>
    </div>

    <div class="box box033 ">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 babout">
      <div class="border">
        <div class="link">
          <a  class="link">ABOUT</a>
        </div> 
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    

    <div class="box box10 split"> 
    </div>

    <div class="togglebox">
      <div class="aboutbox">

       <div class="titlebox">ABOUT ME</div>

      <div class="headingbox">I am a Full stack developer with a passion for front-end and graphic design. I love to be challenged and able to continuously develop my skill set.
      </div>

      <p class="paragraphbox">
      Approaching the end of my bachelor studies, I decided to follow a Web- Development course at General Assembly. GA gave me a wide range of knowledge in different programming languages, and the ability to create a project from scratch.   Following GA my goal now is to find a Junior Developer role. I’m particularity interested in roles that draw on my design background but recognise that good front end needs to pair with amazing back end so would like to broaden my knowledge in both areas. I am a fast learner and eager to increase my knowledge so I’m looking for a challenging roll where I can learn from my pears. During my GA experience I loved working on projects with other students, working in groups and bringing together a number of different views to create one solution. 
      </p>
      </div>
    </div>

     <div class="togglebox2">
       <div>
        <div class="contactName">ANNE GANZEBOOM</div>
        <div class="contactPro">Web developer | Design</div>
        <div class="contactGit">github.com/annegans | www.anneg.work</div>
        <div class="contactMail">07879 720 178 | anneganzeboom@gmail.com</div>
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    <div class="box box25 bcontact">
      <div class="border">
        <div class="link">
          <a  class="link">CONTACT</a>
        </div>  
      </div>
    </div>

     <div class="box box033">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 bwork2">
      <div class="border">
        <div class="link">
          <a href="work" class="link">WORK</a>
        </div>
      </div>    
    </div>
     <div class="box box2">
      <div class="bordernone"></div>
    </div>

</body>
</html>