<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
 <!--  <h1>Hello there</h1> -->
 <link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src= "/app.js"></script>

<link rel="stylesheet" href="/main.css">

</head>
<body>
    <div class="box10 header">
     <div class="namebox">
       <img class="naam-logo"src="/img/naam-log.jpg" >
     </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 bwork">
      <div class="border">
        <div class="link">
          <a href="work" class="link">WORK</a>
        </div>    
      </div>
    </div>

    <div class="box box033 ">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 babout">
      <div class="border">
        <div class="link">
          <a  class="link">ABOUT</a>
        </div> 
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    

    <div class="box box10 split hide-split"> 
    </div>

    <div class="togglebox">
      <div class="aboutbox">

       <div class="titlebox">ABOUT ME</div>

      <div class="headingbox">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste ipsa consectetur aliquid eos doloremque libero nulla quis, optio cum autem!
      </div>

      <p class="paragraphbox">
    
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut omnis totam quas quisquam reiciendis molestiae similique exercitationem accusamus ipsa et asperiores, aperiam, accusantium, nisi quia libero ipsam facilis quam eius voluptatem eaque nulla in laudantium? Sequi enim dolorem perspiciatis voluptatibus incidunt deserunt dolore natus numquam, voluptatum aperiam, at. Dignissimos esse eaque libero voluptatibus explicabo, quibusdam ducimus, cum ab fugit, quasi sunt vel minima. Dicta esse maxime culpa, nulla consequatur nobis quidem pariatur exercitationem delectus, qui quasi accusamus repellat neque eveniet. Perferendis quibusdam ab culpa asperiores soluta non id! Temporibus, facere, perspiciatis. Nesciunt molestias saepe inventore earum laboriosam. Deserunt, ea, dicta!
      </p>
      </div>
    </div>

     <div class="togglebox2">
       <div>
        <div class="contactName">ANNE GANZEBOOM</div>
        <div class="contactPro">Web developer | Design</div>
        <div class="contactGit">github.com/annegans | www.anneg.work</div>
        <div class="contactMail">07879 720 178 | anneganzeboom@gmail.com</div>
      </div>
    </div>

    <div class="box box10 split "> 
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    <div class="box box25 bcontact">
      <div class="border">
        <div class="link">
          <a  class="link">CONTACT</a>
        </div>  
      </div>
    </div>

     <div class="box box033">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 bwork2">
      <div class="border">
        <div class="link">
          <a href="work" class="link">WORK</a>
        </div>
      </div>    
    </div>
     <div class="box box2">
      <div class="bordernone"></div>
    </div>

</body>
</html>