<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
 <!--  <h1>Hello there</h1> -->
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src= "/app.js"></script>
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/work.css">

</head>
<body>
    <div class="box10 header">
     <div class="namebox">
       <img class="naam-logo"src="/img/projects-log.jpg" >
     </div>
    </div>


    <div class="box box2">
      <div class="bordernone display"></div>
    </div>

    <div class="box box25 project1b">
      <div class="border">
        <div class="link">
          <a class="link">TIC-TAC-TOE</a>
          <div class="go-back">GO BACK</div>
        </div>    
      </div>
    </div>

    <div class="box box25 project2text">
      <div class="border scroll">   
      </div>
    </div>

    <div class="box box033 ">
      <div class="bordernone display"></div>
    </div>


    <div class="box box25 project1text">
      <div class="border scroll" >
        <div class="projects-text">
        <div>First 4 day project </div>
        <div>Github link: https://github.com/annegans/Tic-Tac-Toe-Project</div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptatum ducimus provident cum possimus explicabo sint doloribus molestiae maxime amet, modi, praesentium nobis assumenda hic et omnis eveniet animi eligendi, sed numquam perspiciatis? Quas voluptate at autem iste sint similique illo quidem voluptas aspernatur quos consequuntur, laboriosam explicabo, rem a sunt alias quam eos vel vitae tempora odit quisquam, inventore necessitatibus animi. Dolores earum hic quisquam sunt assumenda adipisci atque doloremque voluptatum, fugit, esse quos quod veritatis officia perferendis quasi ex eaque tempore omnis dignissimos quis sit. Accusamus temporibus, earum obcaecati tempore, deserunt, corporis perspiciatis quaerat tenetur nulla esse mollitia.</div>
      </div>
    </div>

    <div class="box box25 project2b">
      <div class="border">
        <div class="link">
          <a class="link">ALCOHOL DIARY</a>
          <div class="go-back">GO BACK</div>

        </div> 
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone display"></div>
    </div>
    
    
    <div class="box box10 split "> 
    </div>
    <div class="project1-toggleclass text-toggle-project">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, itaque maxime molestiae. Ipsum consequuntur, velit laboriosam nobis recusandae fuga eius incidunt, magni, qui natus, fugit labore facere commodi earum perspiciatis.</div>

     <div class="project1-toggleclass">
       <div>
        <img class="img-project" src="/img/tic-tac-toe1.png">
        <img class="img-project"src="/img/tic-tac-toe2.png">
        <img class="img-project"src="/img/tic-tac-toe3.png">
        <img class="img-project"src="/img/tic-tac-toe4.png">
      </div>
    </div>

    <div class="project2-toggleclass text-toggle-project">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, itaque maxime molestiae. Ipsum consequuntur, velit laboriosam nobis recusandae fuga eius incidunt, magni, qui natus, fugit labore facere commodi earum perspiciatis.</div>

    <div class="project2-toggleclass">
       <div>
        <img class="img-project" src="/img/tic-tac-toe1.png">
        <img class="img-project"src="/img/tic-tac-toe2.png">
        <img class="img-project"src="/img/tic-tac-toe3.png">
        <img class="img-project"src="/img/tic-tac-toe4.png">
      </div>
    </div>

    <div class="togglebox">
      <div class="aboutbox">
       <div class="titlebox">ALCOHOL TRACKRER</div>
      </div>
    </div>

     <div class="togglebox2">
       <div class="titlebox">THREE TINGS I DID</div>
    </div>


    <div class="box box2">
      <div class="bordernone "></div>
    </div>
    
    <div class="box box25 project3b">
      <div class="border">
        <div class="link">
          <a class="link">THREE TINGS I DID</a>
          <div class="go-back">GO BACK</div>
        </div>  
      </div>
    </div>

     <div class="box box25 project4text">
      <div class="border scroll "> 
       <div class="margin-view-live">
         <span class="view-live">View Project on github</span><br><br>
         <span class="view-live">View Project live</span><br><br>
         <span class="view-live back" >Go Back to projects</span><br><br>
       </div> 
      </div>
    </div>

     <div class="box box033">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 project3text">
      <div class="border scroll">   
      </div>
    </div>
  
    <div class="box box25 project4b">
      <div class="border">
        <div class="link">
          <a  class="link">LIVIN-IT</a>
          <div class="go-back">GO BACK</div>
        </div>
      </div>    
    </div>

    <div class="box box10 split "> 
    </div>

    <div class="project3-toggleclass text-toggle-project">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, itaque maxime molestiae. Ipsum consequuntur, velit laboriosam nobis recusandae fuga eius incidunt, magni, qui natus, fugit labore facere commodi earum perspiciatis.</div>

    <div class="project3-toggleclass">
       <div>
        <img class="img-project" src="/img/tic-tac-toe1.png">
        <img class="img-project"src="/img/tic-tac-toe2.png">
        <img class="img-project"src="/img/tic-tac-toe3.png">
        <img class="img-project"src="/img/tic-tac-toe4.png">
      </div>
    </div>

    <div class="project4-toggleclass" id="text-toggle-project"> 
    <span class="title-text">INTERIOR DESIGN BLOG</span><br><br>
    As can be inferred from the title, this project is a blog about interior design. I was inspired by one of my previous work experiences, where I worked for an interior design photographer. During this project, I was able to combine my design and technology skills. Also, I was able to appreciate the progress I had made during the course and felt more confident working with a variety of technologies.<br><br>TECHNOLOGIES USED: Javascript, Ruby on Rails, PostgreSQL, JQuary, Dropzone.js, Carrierwave.
    </div>


     <div class="project4-toggleclass">
       <div>
        <img class="img-project" src="/img/tic-tac-toe1.png">
        <img class="img-project"src="/img/tic-tac-toe2.png">
        <img class="img-project"src="/img/tic-tac-toe3.png">
        <img class="img-project"src="/img/tic-tac-toe4.png">
      </div>
    </div>

     <div class="box box2">
      <div class="bordernone"></div>
    </div>

</body>
</html>