<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
 <!--  <h1>Hello there</h1> -->
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src= "/app.js"></script>
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/work.css">

</head>
<body>
    <div class="box10 header">
     <div class="namebox">
       <div class="name"> PROJECTS</div>
     </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 project1b">
      <div class="border">
        <div class="link">
          <a class="link">TIC-TAC-TO</a>
        </div>    
      </div>
    </div>

    <div class="box box033 ">
      <div class="bordernone"></div>
    </div>


    <div class="box box25 project1text">
      <div class="border scroll" >
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptatum ducimus provident cum possimus explicabo sint doloribus molestiae maxime amet, modi, praesentium nobis assumenda hic et omnis eveniet animi eligendi, sed numquam perspiciatis? Quas voluptate at autem iste sint similique illo quidem voluptas aspernatur quos consequuntur, laboriosam explicabo, rem a sunt alias quam eos vel vitae tempora odit quisquam, inventore necessitatibus animi. Dolores earum hic quisquam sunt assumenda adipisci atque doloremque voluptatum, fugit, esse quos quod veritatis officia perferendis quasi ex eaque tempore omnis dignissimos quis sit. Accusamus temporibus, earum obcaecati tempore, deserunt, corporis perspiciatis quaerat tenetur nulla esse mollitia.</div>
      </div>
    </div>

    <div class="box box25 project2b">
      <div class="border">
        <div class="link">
          <a class="link">ALCOHOL TRACKRER</a>
        </div> 
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    
    <div class="box box10 split"> 
    </div>

     <div class="project1-toggleclass">
       <div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, eveniet expedita. Iste dignissimos dicta porro amet maxime nisi ea, culpa, rem ducimus optio! Itaque assumenda expedita nostrum porro, vel vero?</div>
      </div>
    </div>

    <div class="togglebox">
      <div class="aboutbox">

       <div class="titlebox">ALCOHOL TRACKRER</div>
      </div>
    </div>

     <div class="togglebox2">
       <div class="titlebox">THREE TINGS I DID</div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    <div class="box box25 project3b">
      <div class="border">
        <div class="link">
          <a class="link">THREE TINGS I DID</a>
        </div>  
      </div>
    </div>

     <div class="box box033">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 project4b">
      <div class="border">
        <div class="link">
          <a  class="link">LIVIN-IT</a>
        </div>
      </div>    
    </div>
     <div class="box box2">
      <div class="bordernone"></div>
    </div>

</body>
</html>