<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
 <!--  <h1>Hello there</h1> -->
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src= "/app.js"></script>

<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/work.css">

</head>
<body>
    <div class="box10 header">
     <div class="namebox">
       <div class="name"> PROJECTS</div>
     </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 project1b">
      <div class="border">
        <div class="link">
          <a class="link">TIC-TAC-TO</a>
        </div>    
      </div>
    </div>

    <div class="box box033 ">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 project2b">
      <div class="border">
        <div class="link">
          <a class="link">ALCOHOL TRACKRER</a>
        </div> 
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    

    <div class="box box10 split"> 
    </div>

    <div class="togglebox">
      <div class="aboutbox">

       <div class="titlebox">ALCOHOL TRACKRER</div>
      </div>
    </div>

     <div class="togglebox2">
       <div class="titlebox">THREE TINGS I DID</div>
    </div>

    <div class="box box2">
      <div class="bordernone"></div>
    </div>
    
    <div class="box box25 project3b">
      <div class="border">
        <div class="link">
          <a class="link">THREE TINGS I DID</a>
        </div>  
      </div>
    </div>

     <div class="box box033">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 project4b">
      <div class="border">
        <div class="link">
          <a  class="link">LIVIN-IT</a>
        </div>
      </div>    
    </div>
     <div class="box box2">
      <div class="bordernone"></div>
    </div>

</body>
</html>