<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
 <!--  <h1>Hello there</h1> -->
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- jQuery library (served from Google) -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
<!-- bxSlider Javascript file -->
<!-- <script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/jquery.bxslider.js"></script> -->
<script type="text/javascript" src= "/app.js"></script>
<!-- <script type="text/javascript" src= "/js/slider.js"></script> -->
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/work.css">
<!-- <link href="/js/jquery.bxslider.css" rel="stylesheet" /> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">




</head>
<body>
  <div class="nav-bar">
    <!-- <div class="box menu-left">HOME</div> -->
    <a href="/" class="box menu-left">HOME</a>
    <div class="box namebox">WEB PROJECTS</div>
    <div class="box menu-right">
      <a href="https://github.com/annegans"><i class="fa fa-github-square "></i></a>
      <a href="https://uk.linkedin.com/in/anneganzeboom"><i class="fa fa-linkedin-square "></i></a>
      <a href="your link here"><i class="fa fa-envelope "></i></a>
    </div>
  </div>
    <div class="box10 header">
     
    </div>


    <div class="box box2">
      <div class="bordernone display"></div>
    </div>

    <div class="box box25 project1b">
      <div class="border">
        <div class="link">
          <a class="link">TIC-TAC-TOE</a>
          <div class="go-back">GO BACK</div>
        </div>    
      </div>
    </div>

    <div class="box box25 project2text">
      <div class="border scroll">
        <div class="margin-view-live">
         <a href="https://github.com/annegans/project2"><span class="view-live">View Project live</span><br><br></a>
         <a href="https://github.com/annegans/project2"><span class="view-live">View Project on github</span></a><br><br>
         
       </div>   
      </div>
    </div>

    <div class="box box033 ">
      <div class="bordernone display"></div>
    </div>


    <div class="box box25 project1text">
      <div class="border scroll" >
        <div class="projects-text">
        
        <div class="margin-view-live-right">
          <a href="https://github.com/annegans/Tic-Tac-Toe-Project"><span class="view-live">View Project live</span></a><br><br>
          <a href="https://github.com/annegans/Tic-Tac-Toe-Project"><span class="view-live">View Project on github</span></a><br><br>
       </div>
       </div>
      </div>
    </div>

    <div class="box box25 project2b">
      <div class="border">
        <div class="link">
          <a class="link">ALCOHOL DIARY</a>
          <div class="go-back">GO BACK</div>

        </div> 
      </div>
    </div>

    <div class="box box2">
      <div class="bordernone display"></div>
    </div>
    
    
    <div class="box box10 split "> 
    </div>
    <div class="project1-toggleclass " id="text-toggle-project">
      <span class="title-text">TIC-TAC-TOE GAME</span><br><br>
    .<br><br>TECHNOLOGIES USED: Javascript, CSS and HTML.
    </div>

     <div class="project1-toggleclass">
  
      <div>
        <div class="image-box">
         <img  class="img-one"src="/img/tic-tac-toe1.png" />
        <img class="img-two"src="/img/tic-tac-toe2.png" />
        <img class="img-three"src="/img/tic-tac-toe3.png" />
        <img class="img-four"src="/img/tic-tac-toe4.png" />
        </div>
      </div>

      <div class="next-box" >
        <div class="first-img next"></div>
        <div class="second-img next"></div>
        <div class="third-img next"></div>
        <div class="four-img next"></div>
      </div>
    </div>
    

    </div>

    <div class="project2-toggleclass " id="text-toggle-project">
      <span class="title-text">DRINKING DIARY DASHBOARD</span><br><br>
    My first project was an alcohol tracker. The idea behind this project is to be able to track the effect of alcohol on your body during a night out.  Not only does it track your blood alcohol level, amount of calories consumed, but also the type and quantity of alcohol consumed.  The aim of this app is to make people more aware of their alcohol consumption as well as introducing a fun element. <br><br>TECHNOLOGIES USED: Javascript, Ruby on Rails, Postgress, Masonary.js, JQuery, Css, Html and Ajax.

    </div>

    <div class="project2-toggleclass">
     <div >
        <div class="image-box">
          <img  class="img-one"src="/img/alchol1.jpg" />
        <img class="img-two"src="/img/alcohol4.jpg" />
        <img class="img-three"src="/img/alcohol3.jpg" />
        <img class="img-four"src="/img/alcohol2.jpg" />
        </div>
      </div>

      <div class="next-box" >
        <div class="first-img next"></div>
        <div class="second-img next"></div>
        <div class="third-img next"></div>
        <div class="four-img next"></div>
      </div>
    </div>

    <div class="togglebox">
      <div class="aboutbox">
       <div class="titlebox">ALCOHOL TRACKRER</div>
      </div>
    </div>

     <div class="togglebox2">
       <div class="titlebox">THREE TINGS I DID</div>
    </div>


    <div class="box box2">
      <div class="bordernone "></div>
    </div>
    
    <div class="box box25 project3b">
      <div class="border">
        <div class="link">
          <a class="link">THREE TINGS I DID</a>
          <div class="go-back">GO BACK</div>
        </div>  
      </div>
    </div>

     <div class="box box25 project4text">
      <div class="border scroll "> 
       <div class="margin-view-live">
         
         <a href="http://lit-peak-9551.herokuapp.com/"><span class="view-live">View Project live</span><br><br>
         <a href="https://github.com/annegans/Project3"><span class="view-live">View Project on github</span></a><br><br>
       </div> 
      </div>
    </div>

     <div class="box box033">
      <div class="bordernone"></div>
    </div>

    <div class="box box25 project3text">
      <div class="border scroll"> 
        <div class="margin-view-live-right"> 
         <a href="http://threethingsidid.herokuapp.com/"><span class="view-live">View Project live</span></a><br><br>
         <a href="https://github.com/abcdave88/group-project"><span class="view-live">View Project on github</span></a><br><br>
       </div>  
      </div>
    </div>
  
    <div class="box box25 project4b">
      <div class="border">
        <div class="link">
          <a  class="link">LIVIN-IT</a>
          <div class="go-back">GO BACK</div>
        </div>
      </div>    
    </div>

    <div class="box box10 split "> 
    </div>

    <div class="project3-toggleclass" id="text-toggle-project">
      <span class="title-text">THREE THINGS I DID WEBSITE</span><br><br>
    Being inspired by my travels, my group and I created an app, which allows you to create your own personal map, including locations you went to and the three things you enjoyed most and want to remember. When logging back in, these activities show up in the form of an interactive map. This was one of my favourite projects, not only because it involved a creative teamwork method, but also because it included pair-coding and solving problems cooperatively, which allowed me to expand my views on how to approach problems. <br><br>TECHNOLOGIES USED: Node.js, Express.js, MongoDB, Google Maps API, Google Places Library.

    </div>

    <div class="project3-toggleclass">

      <div >
        <div class="image-box">
        <img  class="img-one"src="/img/threethingsidid2.jpg" />
        <img class="img-two"src="/img/threethingsidid-1.jpg" />
        <img class="img-three"src="/img/threethingsidid1.jpg" />
        <img class="img-four"src="/img/threethingsidid4.jpg" />
        </div>
      </div>

      <div class="next-box" >
        <div class="first-img next"></div>
        <div class="second-img next"></div>
        <div class="third-img next"></div>
        <div class="four-img next"></div>
      </div>

    </div>

    <div class="project4-toggleclass" id="text-toggle-project"> 
    <span class="title-text">INTERIOR DESIGN BLOG</span><br><br>
    As can be inferred from the title, thsis project is a blog about interior design. I was inspired by one of my previous work experiences, where I worked for an interior design photographer. During this project, I was able to combine my design and technology skills. Also, I was able to appreciate the progress I had made during the course and felt more confident working with a variety of technologies.<br><br>TECHNOLOGIES USED: Javascript, Ruby on Rails, PostgreSQL, JQuery, Dropzone.js, Carrierwave.
    </div>


     <div class="project4-toggleclass" >
  
      <div >
        <div class="image-box">
        <img  class="img-one"src="/img/2.jpg" />
        <img class="img-two"src="/img/3.jpg" />
        <img class="img-three"src="/img/4.jpg" />
        <img class="img-four"src="/img/1.jpg" />
        </div>
      </div>

      <div class="next-box" >
        <div class="first-img next"></div>
        <div class="second-img next"></div>
        <div class="third-img next"></div>
        <div class="four-img next"></div>
      </div>
   
    </div>

     <div class="box box2">
      <div class="bordernone"></div>
    </div>

     <!--  <ul class="bxslider">
        <li><img src="/js/images/tic-tac-toe3.png" /></li>
        <li><img src="/js/images/tic-tac-toe1.png"  /></li> 
      </ul> -->
</body>
</html>