@import url(https://fonts.googleapis.com/css?family=Mallanna);

.box {
 margin-right: -4px;
 display: inline-block;
 vertical-align: top;
}


.box033{
  width:1.3%;
}

.box1 {
 width: 10%;
 background-color: black;
 height: 300px;
}

.box2 {
 width: 24.3%;
}

.box25 {
  width: 25%;

}

.box3 {
 width: 30%;
 background-color: black;
 height: 360px;
}


.box4 {
 width: 40%;
 background-color: black;
 height: 360px;
}

.box5 {
 width: 50%;
 /* background-color: black; */

}

.box6 {
 width: 60%;
 background-color: black;
 height: 360px;
}

.box7 {
 width: 70%;
 background-color: black;
 height: 360px;
}

.box8 {
 width: 80%;
 background-color: black;
 height: 360px;
}

.box9 {
 width: 90%;
 background-color: black;
 height: 269px;
}

.box10 {
 width: 100%;


}


.header{
  height: 215px;
}

.namebox{
 
}

.naam-logo{
  width: 54.9%;
  margin-top: 7%;
  /*margin-left: 0.30%;*/
  margin-left: 22.6%;

}

.name{
  font-size: 31px;
  font-family: helvetica;
  padding: 108px;
  letter-spacing: 40.5px;
  margin-left: 3%;
}

.border {
  height: 269px;

}

.bordernone{
  height: 269px;
}

.link {
  text-align: center;
  position: relative;
  top: 50%;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: helvetica;
  list-style-type: none; 
  letter-spacing: 5px; 

}

.split{
  height: 20px;
}

.bwork{
  background-color: rgb(54, 133, 232);

}

.babout{
  background-color: rgb(93, 255, 236);
}

.bcontact{
  background-color: rgb(36, 210, 232);

}
.bwork2{
 background-color: rgb(105, 205, 255);
}

.togglebox{
    width: 51.3%; 
    display: none;
    margin-left: 24.3%;
    background-color: rgb(93, 255, 236);
    display:none;
    padding-bottom: 3%;
    

}

.togglebox2{
    width: 51.3%;
    display: none;
    margin-left: 24.3%;
    background-color: rgb(36, 210, 232);
    display:none;
    padding-bottom: 20px;
}

.aboutbox{

}
.titlebox{
    padding: 8%;
    text-align: center;
    font-family: helvetica;
    font-size: 19px;
    letter-spacing: 5px;

}

.headingbox{
  font-family: 'Mallanna', sans-serif;
  line-height: 23px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
  margin-top: -4%;
}


.paragraphbox{
    font-family: 'Mallanna', sans-serif;
    line-height: 23px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;


}

.contactPro{
    font-family: helvetica;
    line-height: 66px;
    font-size: 21px;
    margin-top: -19%;
    margin-left: 25.41%;
    letter-spacing: 8.1px;

}

.contactGit{
    font-family: helvetica;
    line-height: -3px;
    margin-top: -2%;
    /* margin-right: 5%; */
    font-size: 16px;
    /* margin-top: -19%; */
    margin-left: 25.41%;
    letter-spacing: 3px;

}
  


.contactMail{
    font-family: helvetica;
    line-height: 30px;
    font-size: 12px;
    margin-left: 25.41%;
    letter-spacing: 3.88px;
    /* text-align: center; */

}


.contactName{
  font-family: helvetica;
  line-height: 29px;
  font-size: 21.5px;
  margin-left: 8.41%;
  letter-spacing: 14.5px;
  padding: 17%;
}


.hide-split{
  display: none;
}

.hide-show{
  display: block;
}

#show{
  display: inline-block;
}

.scroll{
  overflow: scroll;
}

@media (min-width: 768px) and (max-width: 1024px ) {

  .bwork{
    background-color: black;
  }

}

@media (min-width: 60px) and (max-width:  767px){
  .bwork{
    background-color: red;
    height: 100px;
  }
}

 

  
@media (min-width: 60px) and (max-width:  1200px){
  .name {
    font-size: 22px;
    font-family: helvetica;
    padding: 135px;
    letter-spacing: 30.5px;
    margin-left: 3%;
}
 
}

body {
    -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
}
   
@-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}


 .box:hover{
  opacity: 0.5;
 }



