.project1b{
  background-color: rgb(78, 255, 183);
  border-bottom: 4px solid black;

}

.project2b{
  background-color:  rgb(162, 253, 184);
  border-bottom: 4px solid black;
}

.project3b{
  background-color: rgb(121, 250, 143);
  border-bottom: 4px solid black;

}
.project4b{
  background-color: rgb(217, 254, 161);
  border-bottom: 4px solid black;
}

.hide-project{
  display:none;
}

.img-project{
/*  border: 0;
  width: 76%;
  margin-left: 12%;
  margin-top: 40px;*/

}

.projects-text{
    padding: 10%;
    font-size: 14px;
    font-family: helvetica;
}

#show-botton{
  display: block;
}

#hide-botton{
  display: none;
}

/*project1*/
.project1-toggleclass{
  display: none;
}

.project1text{
  display:none;
  background-color: rgb(78, 255, 183);
}

#show-text1{
  display: inline-block;
}

.project1-toggleclass{
    width: 50.9%;
    display: none;
    margin-left: 24.3%;
    background-color: rgb(78, 255, 183);
    display: none;
    padding-bottom: 20px;
    border: 5px solid rgb(78, 255, 183);

}

/*project2*/
.project2-toggleclass{
  display: none;
}

.project2text{
  display:none;
  background-color:  rgb(162, 253, 184)
}

#show-text2{
  display: inline-block;
}

.project2-toggleclass{
    width: 50.9%;
    display: none;
    margin-left: 24.3%;
    background-color:  rgb(162, 253, 184)
    display: none;
    padding-bottom: 20px;
    background-color:  rgb(162, 253, 184)
}

/*project3*/

.project3-toggleclass{
  display: none;
}

.project3text{
  display:none;
  background-color: rgb(121, 250, 143);
}

#show-text3{
  display: inline-block;
}

.project3-toggleclass{
    width: 50.9%;
    display: none;
    margin-left: 24.3%;
    background-color: rgb(121, 250, 143);
    display: none;
    padding-bottom: 20px;
    background-color: rgb(121, 250, 143);
}


/*project4*/

.project4-toggleclass{
  display: none;
}

.project4text{
  display:none;
  background-color: rgb(217, 254, 161)
}

#show-text4{
  display: inline-block;
}

.project4-toggleclass{
    width: 51%;
    display: none;
    margin-left: 24.3%;
    background-color: rgb(217, 254, 161) display: none;
    padding-bottom: 20px;
    background-color: rgb(217, 254, 161);   
}

.go-back{
    font-size: 11px;
    border: 1px solid black;
    width: 26%;
    padding: 2px;
    text-align: center;
    margin-left: 36%;
    margin-top: 3%;
    display: none;
}

.text-toggle-project{ 
  padding: 2px;
  width: 51.4%;
  margin-bottom: 1.2%;
  font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}

#text-toggle-project{ 
    padding: 1.6%;
    width: 48.2%;
    margin-bottom: 1.2%;
    font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}

.title-text{
  border-bottom: 1px solid black;
  padding-bottom: 2px;

}

.view-live{
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  text-align: center;
  text-transform: uppercase;
  font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
  font-size: 12px;

}

.center-text{
  text-align: center;

}

.margin-view-live{
  margin-top: 44%;
  margin-left: 7%;

}


.bx-wrapper, .bx-viewport, .bx-wrapper img {
    height: 96%;
    width: 92%;
  }

img{
  width: 97%;
  border: 3px solid black;
  margin: auto;
}

.image-box{
    margin-top: 2%;
    padding: 11%;
}
.img-one{
  display: block;
}

.img-two{
  display:none;
}

.img-three{
  display:none;
}

.img-four{
  display:none;
}



/*added classes*/
.img-hide{
  display: none;
}

.img-show{
  display:block;
}

.next-box{
  margin-left: 31%;
  margin-top: -10%;
}


.next{
    display: inline-block;
    text-align: center;
    margin-top: -7%;
    margin: 4%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #161716;

}

.black{
  background-color: black;
}
